.button_padding {
	padding-left: 230px;
}

.input_padding{
	padding-left:200px;
}

body{
	background-image: url('http://blackandwhitewallpaper.weebly.com/uploads/1/9/7/6/19768865/4382613_orig.jpg');
}

.center_image{
	padding-left: 250px;
}